<td class="cart-item-image" data-hook="cart_item_image">
  <img {{bind-attr src=variant.default_image.small_url}} />
</td>
<td class="cart-item-description" data-hook="cart_item_description">
  <h4>{{variant.name}}</h4>
  {{variant.options_text}}
  <span class="line-item-description" data-hook="line_item_description">
    {{variant.description}}
  </span>
</td>
<td class="cart-item-price" data-hook="cart_item_price">
  {{single_display_amount}}
</td>
<td class="cart-item-quantity" data-hook="cart_item_quantity">
  {{view view.quantitySelect content=view.quantities value=quantity}}
</td>
<td class="cart-item-total" data-hook="cart_item_total">
  {{display_amount}}
</td>
<td class="cart-item-delete" data-hook="cart_item_delete">
  {{#view view.removeView}}
    X
  {{/view}}
</td>
