<form id='update-cart'>
  {{#each message in errors.messages}}
    {{message}}
  {{/each}}

  {{outlet 'cart'}}
  {{#checkout-step order=content step='cart' goToState="goToState"}}
    <div data-hook="inside_cart_form">
      {{partial 'checkout/cart'}}
    </div>
  {{/checkout-step}}

  <div class='clear'></div>

  <div id="checkout" data-hook>
    {{outlet 'address'}}
    {{#checkout-step order=content step='address' goToState="goToState"}}
      {{partial "checkout/address"}}
    {{/checkout-step}}

    {{outlet 'delivery'}}
    {{#checkout-step order=content step='delivery' goToState="goToState"}}
      {{partial "checkout/delivery"}}
    {{/checkout-step}}

    {{outlet 'payment'}}
    {{#checkout-step order=content step='payment' goToState="goToState"}}
      {{partial "checkout/payment"}}
    {{/checkout-step}}

    {{outlet 'confirm'}}
    {{#checkout-step order=content step='confirm' goToState="goToState"}}
      {{partial "checkout/confirm"}}
    {{/checkout-step}}
  </div>
</form>
