<form id='update-cart'>
  {{#each errors.messages}}
    <div class="error">
      {{message}}
    </div>
  {{/each}}

  {{partial 'checkout/cart'}}

  <div id="checkout" data-hook>
      {{partial 'checkout/address'}}

      {{render 'checkout/delivery' shipments}}

      {{render 'checkout/payment'}}
    </div>
</form>
