<image src='/assets/credit_cards/credit_card.gif' id='credit-card-image' />

{{#credit-card}}
  <p class="field">
    <label for='name_on_card'>Name on Card</label><span class="required">*</span><br />
    {{input value=payment_source.name name='name_on_card' class='required'}}
  </p>

  <p class="field" data-hook="card_number">
    <label for='card_number'>Card Number</label><span class="required">*</span><br />
    {{credit-card-number value=payment_source.number class='required'}}
    {{credit-card-type value=payment_source.ccType class='required'}}
  </p>

  <p class="field" data-hook="card_expiration">
    <label for='card_expiry'>Expiration</label><span class="required">*</span><br />
    {{credit-card-expiry value=payment_source.expiry class='required' placeholder='MM / YYYY'}}
  </p>

  <p class="field" data-hook="card_code">
    <label for='card_code'>Card Code</label><span class="required">*</span><br />
    {{credit-card-cvc value=payment_source.cardCode class='required' size='5'}}
  </p>
{{/credit-card}}
