<fieldset id="payment" data-hook>
  <legend align="center"><%= Spree.t(:payment_information) %></legend>
  <div data-hook="checkout_payment_step">

    <div id="payment-method-fields" data-hook>
      {{#each payment_method in payment_methods}}
      <p>
        <label>
          {{view RadioButton name="payment_method_id" selection=payment_method_id value=payment_method.id}}
          {{payment_method.name}}
        </label>
      </p>
      {{/each}}
    </div>

    <ul id="payment-methods" data-hook>
      {{#each payment_method in payment_methods}}
        {{#if payment_method.isSelected}}
          <li id="payment_method_" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
            <fieldset>
              {{#if payment_method.isGateway}}
                {{render "checkout/payments/gateway" payment_source}}
              {{/if}}
              {{#if payment_method.isCheck}}
                {{render "checkout/payments/check"}}
              {{/if}}
            </fieldset>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <br style="clear:both;" />
  </div>
</fieldset>

<br class="space" />

<div class="form-buttons" data-hook="buttons">
  <button {{action 'updatePayment'}}>Save</button>
</div>
